body{
    padding: 0%;
}
#container{
    padding: 1.5% 0% 1.5% 0%;
}
.content-h{
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 0;
}
body ul{
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3.2%;
}
body ul li h4{
    padding-left: 3%;
}
body ul li{
    margin-left: 2%;
}
button{
    margin-right: 1%;
}
span{
    float: right;
}
a{
    font-size: larger;
}
#date{
    font-size: 1.2rem;
    color: dimgrey;
}
iframe{
    width: 80vw;
    height: 30vh;
    margin: 0 auto;
    display: block;
    border-style:none;
}	
html {
    font-size: 1rem;
  }
  
@include media-breakpoint-up(sm) {
html {
    font-size: 1.2rem;
}
}

@include media-breakpoint-up(md) {
html {
    font-size: 1.4rem;
}
}

@include media-breakpoint-up(lg) {
html {
    font-size: 1.6rem;
}
}