body{
    padding: 2% 3% 0 3%;
}
#container{
    padding: 1.5% 1% 1.5% 1%;
}

ul{
    padding-bottom: 1%;
}
span{
    float: right;
}
a{
    font-size: larger;
}
iframe{
    margin: 0 auto;
    display: block;
    border-style:none;
}